
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.redux {
  background-color: #fff;
  margin-bottom: 25px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(18, 2, 2, 0.1);
  text-align: center;
  width: 320px;

}
.zustand {
  background-color: #fff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(18, 2, 2, 0.1);
  text-align: center;
  width: 320px;
}



.App h1 {
  color: #333;
  margin-bottom: 20px;
}


input {
  padding: 8px 12px;
  width: 65%;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}


button {
  padding: 8px 12px;
  margin-left: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}


ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #f44336;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.9rem;
}

li button:hover {
  background-color: #d32f2f;
}
